body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 0px;
}

/*
Layout: Implement a 3-row layout using CSS Grid: Header, Main, and Footer.
  Ensure there is no horizontal scroll.

Header: Position the store’s name at the top left and navigation links at the top right.

Footer: Contains copyrights.

Main: Display all store items.
  Maintain equal space between all items.
  Each row should display 4 items.
  Store items should automatically wrap to the next row after every 4 items.

store-item: Style the item information.
  All store-items should have the same height and width.
  Ensure that the Rating, Price, and Stock information are displayed in the same row.
  Overall The layout should fill the browser’s width without causing horizontal scrolling.
*/

/* Advice from Brett:
  If you have 2 monitors, this is awesome for it.
  Once you run 'npm run dev' then you can open up the browser 
  and the code editor side by side.

  Pressing CTRL+S will refresh the browser for you, with any code changes you make.
*/


body {
  width: 99vw;
}

#app {
  display: grid;
  gap: 5px;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  grid-area: header;

  /*Coloring for debug*/
  background-color: lightblue;
}

header>nav>ul {
  display: flex;
  gap: 20px; /*This is a possible solution to the link spacing issue -- Not very adaptable though*/
  justify-content: space-between;
  flex-direction: row;

  /*Coloring for debug*/
  background-color: navy;
}
header>nav {
  /*Coloring for debug*/
  background-color: aqua;
}

header>h1 {
  /*Coloring for debug*/
  background-color: aqua;
}

main {
  grid-area: main;

  /*Fits items in main into 4 columns, automatic rows*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 5px;
  /*Coloring for debug*/
  background-color: lightgreen;
}

footer {
  grid-area: footer;

  /*Coloring for debug*/
  background-color: lightyellow;
}

.store-item {
  font:100% Arial, sans-serif;
  display:flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}
