body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

#app {
  display: grid;
  gap: 5px;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-color: #3498db;
  padding: 10px;
}

header>nav>ul {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

header>nav>ul>li>a {
  color: #1e0db9;
}

header>h1 {
  color: #fff;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 15px;
}

.store-item {
  font-size: 14px;
  background-color: #ecf0f1;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  position: relative;
  padding-bottom: 40px;
}

.store-item:hover {
  transform: scale(1.05);
}

.store-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #bdc3c7;
}

.store-item p:first-of-type {
  font-weight: bold;
}

.store-item p {
  padding: 10px;
  margin: 0;
}

.item-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  background-color: #3498db;
  color: #fff;
}

footer {
  grid-area: footer;
  background-color: #f39c12;
  padding: 10px;
  text-align: center;
  color: #fff;
}
